/*
    Name: Shatat Al Hamid
    Class: MEDE 101 301
    Description: Home style page for Assignment 1: Portfolio
*/

.wrapper {
	text-align: center;
}

.button1 {
	letter-spacing: 0.25vw;
	font-size: 2.5vw;
	color: rgb(168, 184, 198);
	background-color: #2f3032;
	border: 0.2vw solid rgb(168, 184, 198);
	padding: 0.6vw;
	border-radius: 0.6vw;
	transition: background-color, color;
	transition-duration: 1.5s;
	transition-delay: 0.25s;
}

.button1:hover {
	color: #2f3032;
	background-color: rgb(168, 184, 198);
}
