* {
	font-family: "Montserrat Light", sans-serif;
}

body {
	/* background-color: #5bb5e6; */
	background-color: #7ab9d8;
}

img {
	pointer-events: none;
}

h1 {
	letter-spacing: 0.5vw;
	font-size: 4vw;
}

h2 {
	letter-spacing: 0.25vw;
	font-size: 1.5vw;
	padding-top: 1.5vw;
	padding-bottom: 1.5vw;
}

a {
	letter-spacing: 0.1vw;
	word-spacing: 0.5vw;
	text-decoration: none;
}

p {
	letter-spacing: 0.1vw;
}